<!--This gets populated in WorkoutExercises-Index view -->


<div class="modal fade" id="delRoutModal" tabindex="-1" role="dialog" aria-labelledby="delRoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">        
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delRoutModalLabel">Delete All Exercises added from this rotuine ? </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="delRout-Form" asp-antiforgery="true">
                    <div class="row mb-3">
                        <div class="col-md-3 text-left">
                            <label for="del-Name" class="form-label mr-1">Name:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="delRout-Name" readonly>
                            <input type="hidden" id="delRout-RoutineId">
                            <input type="hidden" id="delRout-SessionId">
                        </div>
                        <div class="col-md-3">
                                <img class="img-responsive rounded-circle" id="delRout-previewImage" alt="Image for Routine" width="100" height="100" />
                        </div>
                    </div>
                </form>

                <div class="p-3 mb-2 bg-danger text-white" id="delRout-ErrorMessage" style="display:none"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delRout-Btn">Delete All Exercises From this Routine</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#delRout-previewImage").hide();

        $("#delRout-Btn").click(function () {
            var url = '@Url.Action("DeleteConcreteExercisesFromRoutine", "WorkoutSession")';
            var form = $("#delRout-Form");
            //we add the form in the constructor for the AntiForgery Token to be added in the form data
            var data = new FormData(form.get(0)); 

            var id = $("#delRout-RoutineId").val();
            var sessionId = $("#delRout-SessionId").val();

            data.append("ID", id);
            data.append("sessionId", sessionId);

            ShowLoader("modal-content");

            jQuery.ajax({
                url: url,
                data: data,
                cache: false,
                contentType: false, //needed for setting to multipart
                processData: false,
                method: 'POST',
                success: function (data) {
                    //HideLoader();
                    if (data.ResponseMessage == "" || data.ResponseMessage == "null" || data.ResponseMessage == null) {
                         window.location = '@Url.Action("Index", "WorkoutSession")';
                    }
                    else {
                        HideLoader();
                        $("#delRout-ErrorMessage").text(JSON.stringify(data)).show();
                    }
                   
                },
                error: function (data) {
                    HideLoader();
                    $("#delRout-ErrorMessage").text(JSON.stringify(data)).show();
                }
            });

        })
    })
</script>