@using Newtonsoft.Json;
@using System.Globalization;
@model List<BodyStatisticVM>


@{
    ViewData["Title"] = "Body statistic";
}


@{
    DateTime reference = DateTime.Now;
    Calendar calendar = CultureInfo.CurrentCulture.Calendar;

    IEnumerable<int> daysInMonth = Enumerable.Range(1, calendar.GetDaysInMonth(reference.Year, reference.Month));

    List<Tuple<DateTime, DateTime>> weeks = daysInMonth.Select(day => new DateTime(reference.Year, reference.Month, day))
        .GroupBy(d => calendar.GetWeekOfYear(d, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Sunday))
        .Select(g => new Tuple<DateTime, DateTime>(g.First(), g.Last()))
        .ToList();

    var weekNum = 1;

}
<script>
    var bodyStatistics = [];
    serializedModel = '@Html.Raw(JsonConvert.SerializeObject(Model))';
    bodyStatistics = JSON.parse(serializedModel);
</script>




<div class="row pl-4">
    <div class="col-md-12 text-center">
        <h2>
            Body statistic
        </h2>
    </div>
</div>

<div class="row pt-2">
    @foreach (var week in weeks)
    {
        var statistic = Model.FirstOrDefault(item => item.Week == weekNum);

        <div class="col-md-12">
            <h3>@string.Format($"{week.Item1.ToString("yyyy-MMMM-dd")} - {week.Item2.ToString("yyyy-MMMM-dd")}") </h3>

            <div class="row p-4">

                @if (statistic != null)
                {
                    foreach (var stat in statistic.BodyStatAttributes)
                    {
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-5 pt-0 text-center">
                                    <span class="badge badge-pill badge-secondary">@stat.AttributeName</span>

                                </div>

                                <div class="col-md-3 text-center">
                                    <input type="text" class="form-control form-control-sm" value="@stat.AttributeValue" readonly>
                                </div>
                            </div>
                        </div>


                    }

                }
                else
                {
                    <br />
                    <span>Empty Week</span>
                    <br />

                }
            </div>
            <hr />
        </div>

        weekNum++;

    }
</div>






@section Scripts{

}


<style>
</style>